{
  "globals": {
    "global": false,
    "process": false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "max-len": [
      "error",
      420
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "log",
          "warn",
          "error"
        ]
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": false
        }
      }
    ],
    "curly": [
      2,
      "all"
    ],
    "no-magic-numbers": [
      "error",
      {
        "ignore": [
          -1,
          0,
          1
        ]
      }
    ],
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ]
  }
}
